* {
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Open Sans', sans-serif;

}
body{
  /* height: 100%; */
  background-color: pink;
  /* width: 99%; */
  margin:0;
  padding:0;
}
#pagenotfound{
  width: 100%;
  height: auto;
  /*padding: 0; */
}
#herocontainer{
  position: relative;
  margin: 0 auto;
  overflow:hidden;
   max-height: 70rem; 
}
#homehero{
  /* width: 50%;
  height: auto; */
  /* margin: -250px 0px -100px 00px; */
  /* display: block; */
  width: 100%;
  /* max-width: 100%; */
  /* max-height: 100%; */
  height: auto;

  /* height: auto;  */
  /*padding: 0; */
/*   width: 100%;
    max-width:100%;
    height:auto;
    position: absolute;
    bottom: */
}
#herotop{
  position: absolute;
  top: -1rem;
  left: 4rem;
  background-color: transparent;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* font-size: 2.5rem; */
  font-size: 3.5vw;
  color: white;
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}
#herobottom{
  position: absolute;
  bottom: -2rem;
  left: 50%;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3rem;
  font-style: italic;
}
#nav ul{
  background-color: whitesmoke;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
#nav ul li{
  padding-left: 2rem;
  font-size: 1.5rem;
  margin-right: 2rem;;
}
#nav ul li:hover{
  font-weight: bold;
}
#notfoundtext{
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  background-color: transparent;
  /* padding-left: 10px;
  padding-right: 10px; */
  font-size: 2rem;
  color: black;
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  z-index: 99;
}
#projcontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.project{
  height: 40rem;
  width: 40%;
  background-color: lightblue;
  border: 1px solid black;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.project img{
  width: 90%;
  margin-left: 5%;;
  height: auto;
}
.project img:hover{
  width: 130%;
  margin-left: -15%;
}
.project img:hover + .projdesc { 
  display: none; 
}

.project ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  margin-left: 5%;
  width: 90%;
  margin-right: 5%;
  padding: 0;
  list-style: none;
}
.project ul li{
  padding: 0;
  margin: 0;
}
.project p:first-child{
  text-align: center;
  font-weight: bold;
}
.projdesc{
  margin-left: 5%;
  margin-right: 5%;
  display: block;
}
#video{
  cursor: pointer;
  text-decoration: underline;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
footer{
  background-color: black;
  width: 100%;
}
#contact{
  background-color: slategray;
}
#contact h1, #contact h2, #contact h3{
  text-align: center;
  color: white;
}
#contacthead{
  text-align: center;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  color: blue;
}
#linkstome{
  display: flex;
  height: 8rem;
  margin-top: 2rem;
  margin-left: 25%;
  padding-top: 2rem;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#linkstome a{
  color: white;
  align-self: center;
}
#copyr{
  text-align: center;
  color: whitesmoke;
  padding-bottom: 3rem;
}
.logo{
  height: 3rem;
  width: 3rem;
}
.form-wrapper {
  /* background-color: whitesmoke; */
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
  margin-right: 10rem;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
  text-align: right;
}
.form-row > input {
  flex: 2;
  min-width: 0;
  border: 3px solid black;
  /* width: 5rem; */
}
.form-row > textarea {
  flex: 2;
  min-width: 0;
  border: 3px solid black;
  /* width: 5rem; */
}
.form-row > input,
.form-row > button {
  padding: .5em;
}
.form-row > button {
 background: gray;
 color: white;
 border: 0;
}
#about{
  /* background-color: whitesmoke; */
  margin-left: 15%;
  width: 70%;
}
#proficiencies{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.proficiency > p{
  font-weight: bold;
}
.proficiency > ul{
  display: flex;
  flex-direction: column;
  
}
/* #about h1{
  height: 4rem;
  background-color: turquoise;
  display:flex;
  justify-content: center;
} */
.pagetitle{
  height: 6rem;
  background-color: darkblue;
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}